---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

---



<Layout title="Welcome to Astro.">
<div class="bg-black h-screen w-screen text-white flex items-center justify-center">
<h1> hi</h1>
</div>
</Layout>


